$myred: #AD3652;
$mymonored: #C84E6B;
$mywhite: #F5F5F5;
$myblack: #0E0E0E;
$mypurple: #9136AD;

$body-font-family: 'Irish Grover', cursive;
$heading-font-family: 'Italianno', cursive;
$myfillcolor: rgb(118,88,152);
$mystrokecolor: rgb(168, 119, 200);


body {
    margin: 0;
    padding: 0;
    border: 0;
    width: auto;
    height: auto;
}


.outterContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #0E0E0E;
    width: 100vw;
    height: 100vh;
}
.svg-container { 
	display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.svg-content {
    display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
    cursor: pointer;
}

.titleContainer {
    display: flex;
    position: fixed;
    width: 30%;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}
.title-content {
    display: inline-block;
	position: absolute;
    align-self: center;
    justify-self: center;
	top: 0;
	left: 0;
}
.videodiv {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .1;
    height:  100%;
    width: 100%;
    z-index: 1;
}
.videocontent {
    display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

#Polygonone:hover {
    fill: $myfillcolor;
    filter: drop-shadow(10px 13px 13px rgba(162, 178, 223, 0.4));
    stroke: $mystrokecolor;
}
#Polygontwo:hover {
    fill: $myfillcolor;
    filter: drop-shadow(10px 13px 13px rgba(162, 178, 223, 0.4));
    stroke: $mystrokecolor;
}
#Polygonthree:hover {
    fill: $myfillcolor;
    filter: drop-shadow(10px 13px 13px rgba(162, 178, 223, 0.4));
    stroke: $mystrokecolor;
}
#Polygonfour:hover {
    fill: $myfillcolor;
    filter: drop-shadow(10px 13px 13px rgba(162, 178, 223, 0.4));
    stroke: $mystrokecolor;
}
#Polygonfive:hover {
    fill: $myfillcolor;
    filter: drop-shadow(10px 13px 13px rgba(162, 178, 223, 0.4));
    stroke: $mystrokecolor;  
}
#Polygonsix:hover {
    fill: $myfillcolor;
    filter: drop-shadow(10px 13px 13px rgba(162, 178, 223, 0.4));
    stroke: $mystrokecolor;
}
#Polygonseven:hover {
    fill: $myfillcolor;
    filter: drop-shadow(10px 13px 13px rgba(162, 178, 223, 0.4));   
    stroke: $mystrokecolor;
}
#Polygoneight:hover {
    fill: $myfillcolor;
    filter: drop-shadow(10px 13px 13px rgba(162, 178, 223, 0.4));    
    stroke: $mystrokecolor;
}
#Polygonnine:hover {
    fill: $myfillcolor;
    filter: drop-shadow(10px 13px 13px rgba(162, 178, 223, 0.4));
    stroke: $mystrokecolor;
}
#Polygonten:hover {
    fill: $myfillcolor;
    filter: drop-shadow(10px 13px 13px rgba(162, 178, 223, 0.4));
    stroke: $mystrokecolor;
}
#Polygoneleven:hover {
    fill: $myfillcolor;
    filter: drop-shadow(10px 13px 13px rgba(162, 178, 223, 0.4));
    stroke: $mystrokecolor;
}
#Polygontwelve:hover {
    fill: $myfillcolor;
    filter: drop-shadow(10px 13px 13px rgba(162, 178, 223, 0.4));
    stroke: $mystrokecolor;
}
#Polygonthirteen:hover {
    fill: $myfillcolor;
    filter: drop-shadow(10px 13px 13px rgba(162, 178, 223, 0.4));
    stroke: $mystrokecolor;
}
#ev:hover {
    fill: $myfillcolor;
    filter: drop-shadow(10px 13px 13px rgba(162, 178, 223, 0.4));
    stroke: $mystrokecolor;
}
#nr:hover {
    fill: $myfillcolor;
    filter: drop-shadow(10px 13px 13px rgba(162, 178, 223, 0.4));
    stroke: $mystrokecolor;
}