$myred: #AD3652;
$mymonored: #C84E6B;
$mywhite: #F5F5F5;
$myblack: #0E0E0E;
$mypurple: #9136AD;

$body-font-family:'Playfair Display', serif;
$heading-font-family: 'Roboto', sans-serif;
$myfillcolor: rgb(118,88,152);
$mystrokecolor: rgb(168, 119, 200);


.NavbarContainer {
    display: flex;
    font-size: 1.5rem;
    column-gap: 2rem;
    width: 100%;
    background-color: $myred;
    color: $mywhite;
    font-family: $body-font-family;

}
.logoContainer {
    order: 0;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.linkContainer {
    order: 1;
    width: 80%;
    display: flex;
    justify-content: right;
    align-items: center;
}
a {
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}
a:hover {
    color: $myred;
    background-color: $mywhite;
}
