$myred: #AD3652;
$mymonored: #C84E6B;
$mywhite: #F5F5F5;
$myblack: #0E0E0E;
$mypurple: #9136AD;


$body-font-family: 'Irish Grover', cursive;
$heading-font-family: 'Italianno', cursive;

.appnavbar {
    position: sticky;
    top: .1em;
    width: 100%;
    z-index: 3;
}